* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px
}

button, .palette {
    cursor: pointer;
}

.container {
    background: aquamarine;
    width: 90%;
    margin: 0 auto 0;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.options {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    gap: 5px
}

.palette {
    align-self: center;
    display: none;
}

.trigger {
    cursor: pointer;
    display: inline-block;
    background: palegoldenrod;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid grey;
}

.slider-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    cursor: pointer;
}

.board {
    margin: 0 auto;
    background: white;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.board > * {
    -webkit-user-drag: none;
    user-select: none;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1
}

.pixel {
    opacity: 0;
    flex: 1;
}