* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, serif;
    margin: 0;
    background: #F7ECDE;
    color: #138584;
}

button, .palette {
    cursor: pointer;
}

button {
    font-family: serif;
    background: #F7ECDE;
    border: none;
    border-radius: 3px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0.5rem
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.container {
    display: flex;
    gap: 30px;
    width: fit-content;
    background: #E9DAC1;
    margin: 0 auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px grey;
}

.options {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px
}

.palette {
    align-self: center;
    display: none;
}

.trigger {
    cursor: pointer;
    display: inline-block;
    background: palegoldenrod;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid grey;
}

.slider-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    cursor: pointer;
}

.resolution {
    font-weight: bold;
}

.board {
    background: #F7ECDE;
    width: 40vw;
    height: 40vw;
    display: flex;
    justify-content: center;
}

.board > * {
    -webkit-user-drag: none;
    user-select: none;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1
}

.pixel {
    flex: 1;
    box-shadow: 0 1px 2px grey;
    border-radius: 1px;
}

.eraser {
    transition: all 0.2s;
}

.clear {
    transition: all 0.2s;
}



.clear:active{
    background: #9ED2C6;
}

.picked {
    transform: scale(1.1);
    background: #9ED2C6;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column-reverse;
        gap: 15px;
        align-items: center;
    }

    .board {
        width: 70vw;
        height: 70vw;
    }

    .trigger {
        width: 35px;
        height: 35px;
    }

    button {
        font-size: 20px;
    }
}